body {
	box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    font-size: 120%;
    text-shadow: 3px 3px 2px rgb(54, 59, 94);

    background: linear-gradient(45deg, rgb(86, 95, 151) 0%, 
                                    rgb(86, 95, 151) 63%,
                                    rgb(105, 118, 165) 63%, 
                                    rgb(105, 118, 165) 75%,
                                    rgb(125, 141, 179) 75%, 
                                    rgb(125, 141, 179) 81%,
                                    rgb(144, 165, 193) 81%,
                                    rgb(144, 165, 193) 85%,
                                    rgb(164, 188, 207) 85%,
                                    rgb(164, 188, 207) 90%,
                                    rgb(183, 211, 221) 90%, 
                                    rgb(183, 211, 221) 100%) fixed;
            
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    box-shadow: 10px -10px rgb(54, 59, 94);
}

.btn {
    background-color: rgb(54, 59, 94);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.btn:hover {
    background-color: rgb(39, 42, 66);
}

.buttons {
    margin: auto;
    text-align: center;
}

input[type=text] {
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#fixedbutton {
    position: fixed;
    bottom: 5px;
    right: 5px; 
    width: 30px;
    opacity: 0.5;
}

#fixedbutton:hover {
    opacity: 1;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    text-shadow: 0px 0px 0px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgb(54, 59, 94);
    color: white;
  }
  
.modal-body {
    padding: 2px 16px;
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}